<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">
    <resultMap id="AdminMap" type="Admin">
        <id column="id" property="id" javaType="VARCHAR"/>
        <result column="pwd" property="pwd" javaType="VARCHAR"/>
    </resultMap>
    <!--根据用户id获取用户信息-->
    <select id="selectById" resultMap="AdminMap" parameterType="java.util.map">
        select * from admin where id = #{id}
    </select>
</mapper>